{% extends 'base.html' %}

{% block content %}
<style>
	.column {
		float: left;
		width: 50%;
		padding: 10%;
	}
	.logoimg {
		height: 60%;
		width: 60%;
		filter: invert(100%);
	}
</style>
<div class="row">
	<div class="column"><h1 class="w3-jumbo w3-animate-top w3-center"><span>About <img class="logoimg"  src="static/info_site/dynamine_full_color.png" alt=""/></span></h1></div>
	<div class="column"><p class="w3-large w3-center">With Dynamine, we aim to help you take full advantage of the hardware you already have to begin mining for cryptocurrencies. With our product, even a less-than tech literate person will be able to set up their machine to make a profit while they are not using it</p></div>
</div>
{% endblock %}
