{% extends 'base.html' %}

{% block content %}
<style type="text/css">
#parent {
    width: 900px;
    height: 600px;
    border-color: black;
    border-width: 1px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
#child {
    text-align: center;
}
img {
    width: 100%;
 }
</style>
<div id="parent">
	<div id="child">
		<h1 class="w3-jumbo w3-animate-top">Pooling Info</h1>
        <img src="static/info_site/pooling.png"><br>
        <h3>This section is optional for if you want to work together with other computers to mine more efficiently, here you will be able to enter into a pool. You will need to get the server information from the specific pool you are using</h3>
	</div>
</div>
<div class="w3-display-bottommiddle w3-padding-64">
    <button><a href="walkthrough_add_coin_1">BACK</a></button>
    <button><a href="walkthrough_add_coin_2">NEXT</a></button>
</div>
{% endblock %}