{% extends 'base.html' %}

{% block content %}
<style type="text/css">
#parent {
    width: 900px;
    height: 600px;
    border-color: black;
    border-width: 1px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
#child {
    text-align: center;
}
img {
    width: 100%;
 }
</style>
<div id="parent">
	<div id="child">
		<h1 class="w3-jumbo w3-animate-top">Wallet Address</h1>
        <img src="static/info_site/wallet_selection.png"><br>
        <h3>We recommend using a dedicated wallet for each coin you are mining, you can set up a wallet for Bitcoin, Ethereum, or Litecoin on Coinbase, then get your public wallet address from there. It should be a long hash starting with 0x.</h3>
	</div>
</div>
<div class="w3-display-bottommiddle w3-padding-64">
    <button onclick="location.href='walkthrough_add_coin'">BACK</a></button>
    <button onclick="location.href='walkthrough_add_coin_2'">NEXT</a></button>
</div>
{% endblock %}