{% extends 'base.html' %}

{% block content %}
<style type="text/css">
#parent {
    width: 700px;
    height: 300px;
    border-color: black;
    border-width: 1px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
#child {
    text-align: center;
}
</style>
<div id="parent">
	<div id="child">
		<h2>Sign up</h2>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Sign up</button>
		</form>
	</div>
</div>
{% endblock %}
